* {
    margin: auto;
}

.headerContainer {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100vw;
    top: 0;
    justify-content: center;
    padding: 20px 10px;
    background-color: inherit;
}

.logo {
    height: 70px;
    margin-right: 150px;
}

.flex {
    display: flex;
}

.headerIcon {
    height: 20px;
}

.searchAndcartWrapper {
    display: flex;
    width: 60px;
    margin: 0 20px 0 5px;
    justify-content: space-between;
}

.searchAndcartWrapper hr{
    height: 18px;
    /* margin: auto; */
}

.searchAndcartWrapper img{
    color: black;
    padding: 0 15px;
}

.cartWrapper {
    position: relative;
}

.cartWrapper > p {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 0 5px;
}

.flyout {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px 40px;
    height: 200px;
    overflow: scroll;
}


.flyout img {
    width: 50px;
    height: 50px;
}

.cartWrapper:hover .flyout{
    display: block;
}

.headerContainer > div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

@media screen and (max-width: 1280px) {
    .headerContainer {
        height: auto;
        max-height: max-content;
        margin: 0;
        flex-wrap: wrap;
    }

    .logo {
        margin-right: 0;
        margin-left: 20px;
    }

    .headerContainer > div {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .flyout {
        right: 0;
    }
}